@keyframes bounceIn {
  0% {
    transform: scale(0.99);
    opacity: 0;
  }
  60% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 0.5s;
}
